body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* use only for my Button presentation component */
:root {
  --color-basic-green: #008080;
  --color-basic-yellow: #ffb74d;
  --color-basic-yellow-light: rgb(255, 197, 112);
  --color-bright-red: #ff0000;
  --color-basic-grey: #eee;
  --color-hover-grey: #e3e3e3;
  --color-black-rgba: rgba(0,0,0,0.5);
}
